<h1 align="center"> Choose room or create new one</h1>

<div class='row'>
  <% @chat_rooms.each do |chat_room| %>
  <div class='col-sm-3'>
    <div class='thumbnail'>
      <h3 align="center"> <%= chat_room.name %> </h3>
      <img src=<%= image_url('chat.png')%> >
      <div class='caption'>
        <p><%= link_to 'Chat', poker_room_path(chat_room), class: 'btn btn-primary' %> <%= link_to 'Delete', poker_room_path(chat_room), class: 'btn btn-default',
               method: :delete, data: { confirm: 'Are you sure?'} %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>

<h2>Create new chat room</h2>
<%= form_tag(api_v1_chat_rooms_path, method: 'post', remote: true) do%>
  <%= text_field_tag('room_name') %>
  <%= submit_tag('create', class: 'btn btn-primary btn-sm') %>
<% end %>
